*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
font-family:Prompt,sans-serif;
}

body{
background:#f4faf6;
}

header{

position:fixed;

width:100%;

display:flex;

justify-content:space-between;

padding:20px 60px;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.08);

z-index:1000;

}

.logo{

font-size:24px;

font-weight:bold;

color:#2E8B57;

}

nav a{

text-decoration:none;

margin-left:30px;

color:#333;

font-weight:500;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#2E8B57,#7fd6a8);

color:white;

}

.hero h1{

font-size:70px;

}

.hero p{

font-size:22px;

margin-top:15px;

}

section{

padding:100px 10%;

}

h2{

text-align:center;

color:#2E8B57;

margin-bottom:40px;

}

.card{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 15px 30px rgba(0,0,0,.1);

line-height:2;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

.gallery img{

width:100%;

border-radius:15px;

transition:.4s;

}

.gallery img:hover{

transform:scale(1.05);

}

footer{

padding:30px;

text-align:center;

background:#2E8B57;

color:white;

margin-top:80px;

}
